@{
    List<string> pictures = ViewData["Pictures"] as List<string>;
    List<string> music = ViewData["Music"] as List<string>;
}

@section metatags
{
    <meta name="description" content="A more personal summary of who I am as a person, and some of the things that I like or find interesting." />
    <meta name="keywords" content="about me, randomocity studios, randomocity, studios, wesley van komen, wesley, van komen, about, software engineer, software development, resume, portfolio, .net, c#, javascript" />
}

    <div class="col-sm-12 col-md-12 col-lg-12 styled-row large-top-margin">
        <h1>@ViewData["Title"]</h1>
    </div>

    @*<div class="col-sm-12 col-md-12 col-lg-12">*@

    <!-- music player -->
    <div class="col-md-6" style="padding:0px;">


        <div class="green-border small-top-margin small-bottom-margin background-fill">

            <h3>Music</h3>

            <div id="musicCarousel" class="carousel slide medium-bottom-padding" data-interval="false" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators carousel-selector-pull-down">
                    <li data-target="#musicCarousel" data-slide-to="0" class="active"></li>

                    @for (int i = 1; i < music?.Count(); i++)
                    {
                    <li data-target="#musicCarousel" data-slide-to="@i"></li>
                    }

                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    @for (int i = 0; i < music.Count(); i++)
                    {
                        if (i == 0)
                        {
                    <div class="item active">
                        <iframe class="yt_player_iframe green-border" src="@music[i]" allowfullscreen="false" frameborder="0" allowscriptaccess="always" style="width:75%;height:175px;"></iframe>
                    </div>
                        }
                        else
                        {
                    <div class="item">
                        <iframe class="yt_player_iframe green-border" src="@music[i]" allowfullscreen="false" frameborder="0" allowscriptaccess="always" style="width:75%;height:175px;"></iframe>
                    </div>
                        }
                    }
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" style="background-image:none;" href="#musicCarousel" data-slide="prev" id="musicLeft">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="right carousel-control" style="background-image:none;" href="#musicCarousel" data-slide="next" id="musicRight">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <!-- Slide Show-->
        <div class="green-border small-top-margin small-bottom-margin background-fill">

            <h3>Pictures</h3>

            <div class="green-border small-top-margin tiny-margin">

                <div id="pictureCarousel" class="carousel slide" data-interval="3500" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#pictureCarousel" data-slide-to="0" class="active"></li>


                        <!-- TODO: standardize slideshow image dimensions -->
                        <!-- link for each picture in slideshow picture -->
                        @for (int i = 1; i < pictures?.Count(); i++)
                    {
                        <li data-target="#pictureCarousel" data-slide-to="@i"></li>
                    }
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        @for (int i = 0; i < pictures.Count(); i++)
                    {
                        if (i == 0)
                        {
                        <div class="item active">
                            <a href="@pictures[i]" data-fancybox="pictures" data-options='{"loop": true}' data-caption="">
                                <img src="@pictures[i]">
                            </a>
                        </div>
                        }
                        else
                        {
                        <div class="item">
                            <a href="@pictures[i]" data-fancybox="pictures" data-options='{"loop": true}' data-caption="">
                                <img src="@pictures[i]">
                            </a>
                        </div>
                        }
                    }

                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#pictureCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#pictureCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- Summary Paragraph-->
    <div class="col-lg-6 col-md-6" style="padding-right:0px;">
        <div class="green-border small-top-margin small-bottom-margin background-fill">

            <h3>Words</h3>

            <div class="small-top-margin left-text paragraph">

                <p>
                    I'm a first generation college graduate with a passion for technology and using it to solve problems. I'm the youngest of five kids, and currently have fourteen nieces and nephews.
                    I live in Bellingham, WA with my Fiancé, three black cats, and German Shepherd.
                    Some of my hobbies include longboarding, snowboarding, hiking, biking, motorcycling, canoeing, swimming, gardening, programming, writing and drawing.

                </p>
                <p>
                    I wrote my first "Hello World" console application over 15 years ago, and a few degrees and a few hundred-thousand lines of code later,
                    I work professionally as a Software Engineer. I really like algorithmic optimizations, and spend a fair amount of leisure time solving challenges, like Project Euler,
                    to keep strengthening my problem solving abilities.
                </p>
                <p>
                    I'm a crypto-currency enthusiast, having been running a crypto mining-rig out of my office for a few years now.
                    Blockchain technology has the potential to greatly improve how we transact with each other on a day-to-day basis, and will inevitably replace legacy financial systems.
                    I use my hardware with the intention of contributing to the health of community-based Blockchain networks, but it would be pretty cool to someday have enough earnings to pay for my nieces and nephews college tuition!
                </p>
                <p>
                    I'm currently learning about OpenGL and React, and I plan to use them to make a suite of educational games aimed at teaching math and programming skills to children.
                    Professionally, I want to keep growing as a full-stack developer, but I'm sure I could find interest in just about any technical challenge.
                </p>

            </div>
        </div>


    </div>


    <!-- inline script to auto stop video when the selection is changed and stop auto change-->
    <script>
        function stopVideo() {
            this.contentWindow.postMessage('{"event":"command","func":"stopVideo","args":""}', '*');
        }

        $('#musicLeft').add('#musicRight').add(".carousel-selector-pull-down").click(function () {
            $('.yt_player_iframe').each(stopVideo);
        });
    </script>

    @*</div>*@
