@{
    ViewData["Title"] = "Randomocity Studios";

    List<NewsUpdate> updates = ViewData["Updates"] as List<NewsUpdate>;
}



@section metatags
{
    <meta name="description" content="Randomocity Studios serves as a living portfolio and resume for Wesley Van Komen." />
    <meta name="keywords" content="randomocity studios, randomocity, studios, wesley van komen, wesley, van komen, software engineer, software development, software, resume, portfolio, .net, c#, javascript, programming, coding, hacking" />
}

<div class="col-sm-12 col-md-12 col-lg-12 styled-row">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="green-border small-top-margin">

        <div id="updateCarousel" class="carousel slide carousel-stopped medium-bottom-padding" data-interval="false" data-ride="carousel">

            <!-- Indicators -->
            <ol class="carousel-indicators carousel-selector-pull-down small-bottom-margin">

                <li data-target="#updateCarousel" data-slide-to="0" class="active"></li>

                @for (int i = 1; i < updates?.Count(); i++)
                {
                <li data-target="#updateCarousel" data-slide-to="@i"></li>
                }
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">


                @foreach(NewsUpdate update in updates){
                    bool isFirst = updates.IndexOf(update) == 0;

                <div class="item @(isFirst ? "active": "")">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

                            <div class="col-sm-12 col-md-12 col-lg-12 styled-row">
                                <h2 class="medium-bottom-margin">@update.Title</h2>
                            </div>


                            <a href="@update.ImagePath" data-fancybox data-caption="@update.Title">
                                <img class="green-border" src="@update.ImagePath" width="100%" />
                            </a>


                            <div class="col-sm-12 col-md-12 col-lg-12 styled-row">
                                <div class="left-text paragraph">
                                    <p class="medium-font">
                                        @update.Description
                                    </p>
                                </div>
                                <p class="author small-top-margin">Posted by @update.Author on @update.PublishDate</p>

                            </div>
                        </div>
                    </div>
                </div>

                }

            </div>

            <!--TODO: Address the fact that mobile doesnt get next/prev buttons -->
            <!-- Left and right controls -->
            <a class="left carousel-control hidden-sm hidden-xs" href="#updateCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="right carousel-control hidden-sm hidden-xs" href="#updateCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</div>

