@{
    ViewData["Title"] = "Randomocity Studios";

    List<NewsUpdate> updates = ViewData["Updates"] as List<NewsUpdate>;;
}



@section metatags
{
    <meta name="description" content="Randomocity Studios serves as a living portfolio and resume for Wesley Van Komen." />
    <meta name="keywords" content="randomocity studios, wesley van komen, wesley, van komen, software engineer, software development, resume, portfolio, .net, c#, javascript" />
}

<div class="col-sm-12 col-md-12 col-lg-12 styled-row">
    <h1>@ViewData["Title"]</h1>
</div>


@foreach(NewsUpdate update in updates){

<div class="col-sm-12 col-md-12 col-lg-12">

    <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 styled-row">
        <h2 class="medium-bottom-margin">@update.Title</h2>
        <a href="@update.ImagePath" data-fancybox data-caption="@update.Title">
            <img class="green-border" src="@update.ImagePath" width="100%" />
        </a>


            <div class="col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 small-top-margin styled-row">
                <p>By @update.Author on @update.PublishDate</p>
                <div class="paragraph">
                    <p class="medium-font paragraph">
                        @update.Description
                    </p>
                </div>

            </div>
        </div>
    </div>

}

