@model RandomocityStudios.Models.Project

@{
    ViewData["Title"] = "Projects";
}

<div class="alert alert-success large-top-margin text-center" role="alert">
    Coming Soon! Projects will be listed here once deployed for public access.
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">


        <!--  TODO: iterate over projects list and use project model properties for content once backend is done -->
        @foreach (Project project in ViewData["Projects"] as List<Project>)
        {
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <img src="@project.ImagePath" height="200px" width="100%" />
                    </div>

                    <div class="col-md-8 text-left pull-left">
                        @if (project.Url != null && project.Url.Length > 0)
                        {
                            <a href="@project.Url" target="_blank"><h4>@project.Title</h4> </a>
                        }
                        else
                        {
                            <h4>@project.Title</h4>
                        }

                        <p>
                            <b>Description:</b> @project.Description
                        </p>
                        <p>
                            <b>Technologies:</b> @project.Tech
                        <p>
                            <b>Source code:</b> <a href="@project.Source" target="_blank">@project.Source</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
    <br />
</div>
