@model RandomocityStudios.Models.Project

@{
    ViewData["Title"] = "Public Projects";
}

@section metatags
{
    <meta name="description" content="A collection of software development personal projects undertaken by Wesley Van Komen." />
    <meta name="keywords" content="randomocity studios, randomocity, studios, projects, wesley van komen, wesley, van komen, software engineer, software development, software, resume, portfolio, .net, c#, javascript" />
}

<div class="col-sm-12 col-md-12 col-lg-12 styled-row large-top-margin">
    <h1>@ViewData["Title"]</h1>
</div>



<!--
 <div class="row display-flex">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="box">
            <h3>Some text</h3>
            <img src="//placehold.it/150x180" class="center-block">
        </div>
    </div>
-->

<div class="col-sm-12 col-md-12 col-lg-12 tiny-side-padding">
    <div class="row display-flex">
        @foreach (Project project in ViewData["Projects"] as List<Project>)
        {
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="styled-row stretch-vertical">
                    <div>

                        @if (project.Url != null && project.Url.Length > 0)
                        {
                            <a href="@project.Url" target="_blank">
                                <h4>@project.Title</h4>
                                <img src="@project.ImagePath" width="100%" class="green-border" />
                            </a>
                        }
                        else
                        {
                            <a href="@project.ImagePath" data-fancybox data-caption="@project.Title">
                                <h4>@project.Title</h4>
                                <img src="@project.ImagePath" width="100%" class="green-border" />
                            </a>
                        }




                        <div class="text-left medium-top-margin">
                            <p><b>Description:</b></p>
                            <p class="indent">@project.Description</p>

                            <p><b>Technologies:</b></p>
                            <p class="indent">@project.Tech</p>

                            <p><a href="@project.Source" target="_blank"><b>Source code</b></a></p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
