<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @RenderSection("metatags", false)
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0"/>
    <title>@ViewData["Title"] - RandomocityStudios</title>

    <link rel="icon" href="/images/favicon/sun_favicon/sun_favicon_1.png" type="image/png" />

    <meta name="yandex-verification" content="ec42f71f32c57c77" />

<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>

    <environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <!-- Navigation Collapser-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" , alt="home link">RandomocityStudios</a>
            </div>

            <!-- Page Navigation-->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav narbar-left">
                    <li><a asp-area="" asp-controller="Home" asp-action="Projects" alt="projects link">Projects</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About" alt="about me link">About Me</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Resume" target="_blank" alt="resume link">
                            <img class="main-navigation-icon" src="~/images/icons/resume_icon.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/in/vankomen" target="_blank" alt="linked link">
                            <img class="main-navigation-icon" src="~/images/icons/linkedin_icon.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/wesleyvankomen" target="_blank" alt="github link">
                            <img class="main-navigation-icon" src="~/images/icons/github_icon.png" />
                        </a>
                    </li>
                    <li>
                        <a href="https://hackerrank.com/wesleyvankomen" target="_blank">
                            <img class="main-navigation-icon" src="~/images/icons/hackerrank_icon.png" />
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!-- JS Image Viewer-->
    <link rel="stylesheet" type="text/css" href="~/lib/fancybox/jquery.fancybox.min.css">
    <script type="text/javascript" src="~/lib/fancybox/jquery.fancybox.min.js"></script>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content text-center">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - RandomocityStudios</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)

    <!-- Particle JS-->
    <div id="particles-js"></div>
    <script type="text/javascript" src="~/js/particles/particles.min.js"></script>
    <script type="text/javascript" src="~/js/particles/app.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147159512-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-147159512-1');
    </script>

</body>
</html>
